{% if scenario == "error-invalid-maximum" %}
{% include "../../state-views/modify-maximum-reviews-keyboard.njk" %}
{% elif scenario == "success" %}
{% include "../../state-views/settings-keyboard.njk" %}
{% endif %}