How well did you remember this word?

<b>Easy ({{ easy }})</b>: 

you answered correctly with no hesitation.

<b>Good ({{ good }})</b>: 

you answered correctly with a little bit of hesitation.

<b>Hard ({{ hard }})</b>: 

your answer was partially correct, and/or you hesitated a lot.

<b>Again ({{ again }})</b>: 

your answer was completely incorrect.