[
    [
        "{{ buttonTexts.state.rate_word.again }}",
        "{{ buttonTexts.state.rate_word.hard }}",
        "{{ buttonTexts.state.rate_word.good }}",
        "{{ buttonTexts.state.rate_word.easy }}"
    ],
    [
        "{{ buttonTexts.state.rate_word.back }}"
    ]
]