[
    [
        {% if learner.isMuted == true %}"{{ buttonTexts.state.settings.unmute }}"{% else %}"{{ buttonTexts.state.settings.mute }}"{% endif %}
    ],
    [
        "{{ buttonTexts.state.settings.maximum_daily_reviews }}"
    ],
    [
        "{{ buttonTexts.state.settings.back }}"
    ]
]