[
    [
        "{{ buttonTexts.state.word_reminder.review }}"
    ],
    [
        "{{ buttonTexts.state.word_reminder.add }}"
    ],
    [
        "{{ buttonTexts.state.word_reminder.manage }}",
        "{{ buttonTexts.state.word_reminder.statistics }}"
    ],
    [
        "{{ buttonTexts.state.word_reminder.premium_decks }}"
    ],
    [
        "{{ buttonTexts.state.word_reminder.settings }}",
        "{{ buttonTexts.state.word_reminder.talk_to_admin }}"
    ]
]