Welcome to Word Reminder! When you add an English word with its definition to your reminder, bot will periodically show you that word until you master it. For the best results, be sure to review your daily words every day by clicking on <i>Review Your Words 📋</i>

English Mate is provided to you, free of charge. Happy learning!