Your statistics:

Total cards: {{ no_cards }}
    - New: {{ new_cards }}
    - Learning: {{ learning_cards }}
    - Review: {{ review_cards }}
    - Relearning: {{ relearning_cards }}
Cards to review today: {{ no_due_cards }}